html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

a { color: inherit; }

@font-face {
    font-family: ceraBlack;
    src: url(./fonts/CeraPro/CeraPro-Black.ttf);
}
@font-face {
    font-family: ceraLight;
    src: url(./fonts/CeraPro/CeraPro-Light.ttf);
}
@font-face {
    font-family: ceraRegular;
    src: url(./fonts/CeraPro/CeraPro-Regular.ttf);
}

.app {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

section {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;

    background-color: black;
    color: #DAA520;
}

.hide {
    visibility: hidden;
}

.overflow_allow {
    overflow: initial !important;
}

/*===================================================*/
/*===================================================*/
.preload-container {
    background-color: #544949;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 20;
    font-family: "Lato", sans-serif;
}

.lion-anima {
    top: 25%;
    width: 250px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    -webkit-animation: float 3s linear alternate infinite;
}

.lion-anima span {
    position: absolute;
}

.lion-anima .head {
    width: 140px;
    height: 105px;
    top: 50px;
    z-index: 2;
    background-color: #f5cd88;
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.lion-anima .eye {
    width: 15px;
    height: 22px;
    top: 30px;
    z-index: 2;
    background-color: #604f31;
    border: solid 10px #fbebcf;
    border-radius: 50%;
    -webkit-animation: blink 8s infinite;
}

.lion-anima .eye.left {
    left: 10px;
}

.lion-anima .eye.right {
    right: 10px;
}

.lion-anima .nose {
    width: 18px;
    height: 12px;
    top: 70px;
    z-index: 2;
    background-color: #604f31;
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.lion-anima .mane {
    width: 219px;
    height: 180px;
    top: 0;
    z-index: 1;
    background-color: #ed8641;
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: head-tilt 6s infinite;
}

.lion-anima .mane:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -54px;
    left: 60px;
    color: #ed8641;
    border: 50px solid transparent;
    border-top: 100px solid #ed8641;
    border-bottom: 0;
    -webkit-transform: scaleX(1.9);
    transform: scaleX(1.9);
}

.lion-anima .mane:after {
    content: "";
    display: block;
    position: absolute;
    width: 140px;
    height: 105px;
    bottom: 15px;
    left: 40px;
    background-color: #eb772a;
    border-radius: 50%;
}

.lion-anima .ear {
    width: 60px;
    height: 60px;
    top: 18px;
    z-index: 2;
    background-color: #f5cd88;
    border-radius: 60px;
}

.lion-anima .ear.left {
    left: -15px;
}

.lion-anima .ear.left:before {
    left: 60px;
    -webkit-transform: scaleX(1.5) rotate(-20deg);
    transform: scaleX(1.5) rotate(-20deg);
}

.lion-anima .ear.right {
    right: -15px;
}

.lion-anima .ear.right:before {
    right: 120px;
    top: -35px;
    -webkit-transform: scaleX(1.5) rotate(20deg);
    transform: scaleX(1.5) rotate(20deg);
}

.lion-anima .ear .inner {
    width: 39.6px;
    height: 39.6px;
    background-color: #fbebcf;
    border-radius: 39.6px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.lion-anima .ear:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -30px;
    color: #ed8641;
    border: 15px solid transparent;
    border-bottom: 30px solid #ed8641;
    border-top: 0;
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
}

.lion-anima .body {
  width: 120px;
  height: 260px;
  top: 30px;
  background-color: #f5cd88;
  border-radius: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lion-anima .body:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 200px;
    left: 20px;
    top: 40px;
    background-color: #fbebcf;
    border-radius: 40px;
}

.lion-anima .tail {
    font-size: 150px;
    right: 0;
    top: 160px;
    color: #f5cd88;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    -webkit-animation: sway 2s linear alternate infinite;
    -webkit-transform-origin: 20px 80px;
}

.lion-anima .tail:after {
    content: "w";
    position: absolute;
    top: 49px;
    left: 43px;
    font-size: 40px;
    font-weight: 700;
    color: #ed8641;
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
}

.lion-anima .leg {
    width: 50px;
    height: 100px;
    bottom: -30px;
    z-index: -1;
    background-color: #f5cd88;
    border-radius: 15px;
}

.lion-anima .leg.left {
    left: 0;
}

.lion-anima .leg.right {
    right: 0;
}

.lion-anima .leg:after {
    content: "m";
    display: block;
    position: absolute;
    font-size: 30px;
    bottom: -3px;
    color: #fbebcf;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.lion-anima .paw {
    width: 60px;
    height: 35px;
    top: 133px;
    background-color: #f5cd88;
    border-radius: 15px;
}

.lion-anima .paw.left {
    left: -35px;
}

.lion-anima .paw.left:after {
    left: 5px;
}

.lion-anima .paw.right {
    right: -35px;
    -webkit-animation: wave 0.5s 5s linear 3;
}

.lion-anima .paw.right:after {
    right: 5px;
}

.lion-anima .paw:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    width: 20px;
    height: 20px;
    background-color: #fbebcf;
    border-radius: 20px;
}

@-webkit-keyframes float {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}
@-webkit-keyframes sway {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    to {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}
@-webkit-keyframes head-tilt {
    0% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translateX(-50%) rotate(-5deg);
        transform: translateX(-50%) rotate(-5deg);
    }
    0% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }
}
@-webkit-keyframes blink {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    51% {
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    52% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.loading {
    display: flex;
    color: white;
    position: relative;
    top: 30%;
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
}
.loading:after {
    content: " .";
    animation: dotsgo 3s steps(5, end) infinite;
}

.loading-bar{
    margin: 0 auto;
    width: 130px;
    height: 2px;
    background: #cfcfcf;
    margin-top: 22px;
    position: relative;
    top: 30%;
    overflow: hidden;
}

.loading-bar::before{
    content: '';
    width: 68px;
    height: 2px;
    background: #fda000;
    position: absolute;
    left: -34px;
    animation: goldbar 2.5s infinite ease;
}

@keyframes goldbar{
    50%{
        left: 96px;
    }
}

@keyframes dotsgo {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
    }
}

/*===================================================*/
/*===================================================*/
.welcome {
    opacity: 0;
    z-index: 1;
}

.welcome h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2rem auto;
    font-size: 30vw;
    line-height: 25vw;
    font-family: 'ceraBlack', sans-serif;
    color: #bc7c1d;
    z-index: 7;

    text-shadow: 0px 4px 4px rgb(0 0 0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.welcome-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 5px 5px 50px 0 #000000;
    z-index: 7;

    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.scene-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scene {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.clouds {
    background-image: url("./images/1welcome/clouds-01.png");
    background-repeat: no-repeat;
    background-size: 80% 10%;
    background-position: 100% 15%;
    z-index: 5;
}

.clouds2 {
    background-image: url("./images/1welcome/clouds-02.png");
    background-repeat: no-repeat;
    background-size: 80% 10%;
    background-position: 45% 10%;
    opacity: 0.7;
    z-index: 3;
}

.sky {
    background-image: url('./images/1welcome/sky.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    z-index: -2;
}

.landscape {
    background: url('./images/1welcome/landscape1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
}

.letters {
    display: none;
}

.lion {
    background: url('./images/1welcome/lion1.png');
    background-repeat: no-repeat;
    background-size: 125% 45%;
    background-position: -50% 80%;
    z-index: 7;
}

.rocks {
    background: url('./images/1welcome/rocks2.png');
    background-repeat: no-repeat;
    background-size: 200% 35%;
    background-position: 0% 106%;
    z-index: 6;
}

.arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    margin: 1rem auto;
    fill: #bc7c1d;
    opacity: 0.9;
    z-index: 15;
}

.downward {
    transform: rotate(90deg);
}

.bounce {
    animation-name: bounce-1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-40px); }
    100% { transform: translateY(0); }
}

/*===================================================*/
/*===================================================*/
.doWhat {
    opacity: 0;
}

.desktop-only {
    display: none;
}

.doWhat .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
}

.doWhat h1 {
    font-family: ceraRegular;
    background: -webkit-linear-gradient(45deg, #00d2fc,#ff0aef 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.br-text1 h1 {
    font-size: 19vw;
    width: fit-content;
    margin: 0rem auto;
}

.br-text2 h1 {
    font-size: 16vw;
    width: 90%;
    margin: 0rem auto;
}

.br-text3 h1 {
    font-size: 22vw;
    width: fit-content;
    margin: 0rem auto;
}

.background {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.container-1, .container-3, .container-5 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 50%;
    z-index:5;
}

.container-3, .container-5 {
    background-color: #000000;
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
    opacity: 0;
}

.background-1 {
    background-image: url(./images/2doWhat/fullstack2.jpg);
    background-size: 240% 60vh;
    background-position: 16% 44%;
    background-repeat: no-repeat;
}
.background-3 {
    background-image: url(./images/2doWhat/mobile1.jpg);
    background-size: 170% 70vh;
    background-position: 60% 50%;
    background-repeat: no-repeat;
}
.background-5 {
    background-image: url(images/2doWhat/security1.jpg);
    background-size: 135vw 50vh;
    background-position: 110% 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.top_right {
    display: none;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    z-index: 10;
}

.bottom_right {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 0%;
    width: 100%;
    height: 50%;
    z-index: 5;
}

.br-text1, .br-text2, .br-text3 {
    opacity: 0;
}

.doWhat p {
    color: wheat;
    padding: 0.5rem 2rem;
    line-height: 7vw;
    /*font-weight: 700;*/
    text-align: justify;
}

/*===================================================*/
/*===================================================*/
.mywork {
    opacity: 0;
    z-index: 1;
    overflow: visible;
}

.no_overflow {
    overflow: hidden;
}

.source-viewer {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.source-viewer code {
    position: absolute;
    font-family: monospace;
    opacity: .35;
    left: 0;
    top: -5rem;
    box-sizing: border-box;
    padding: 0;
    margin-left: -20vw;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: visible;
}

.source-viewer code:after {
    content: attr(content)
}

code[class*=language-] {
    color: darkgrey;
    direction: ltr;
    font-family: 'Ubuntu Mono', monospace;
    text-align: left;
    text-shadow: 0 -.1em .2em #000;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-all;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    opacity: 0.2;
}
code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection {
    text-shadow: none;
    background: rgba(237,237,237,.15)
}
code[class*=language-] ::selection,code[class*=language-]::selection {
    text-shadow: none;
     background:rgba(237,237,237,.15) 
}

.typed_container {
    display: inline-flex;
    padding: 0.5rem;
    font-size: 9vw;
    letter-spacing: -2px;
    font-family: 'Ubuntu Mono', monospace;
    animation: text-flicker 3s linear 3;
    opacity: 0.9;
}
.typed-cursor {
    line-height: 1em;
    opacity: 0 !important;
}

section.mywork .project-row {
    padding: 6rem .5rem;
}

section.mywork .project-box {
    position: relative;
    width: 21rem;
    height: 13rem;
    margin: 0 auto;
    transition: all .5s;
    cursor: pointer;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;

    -webkit-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.shadow-left {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.shadow-right {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.project-box, .project-text {
    opacity: 0;
}

.project-box:hover .shadow {
    opacity: 0.1;
}

.project-box:hover .project-border, 
.project-box:hover {
    margin: -2px;
}

.project-border {
    background-color: transparent;
    position: absolute;
    width: 21rem;
    height: 13rem;
    margin: -1.5rem 0.5rem;
    border: 2px solid goldenrod;
    opacity: 0.9;
    z-index: -1;
    transition: all .5s;
}

section.mywork .project-text {
    max-width: 20rem;
    margin: 1rem auto;
}

.project-header {
    color: antiquewhite !important;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

.project-text p {
    color: bisque;
    padding-left: 2px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.project-one {
    background-image: url(images/3mywork/dd-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.project_two {
    background-image: url(images/3mywork/24hh-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.project_three {
    background-image: url(images/3mywork/fw-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 1px 15px black;
}

/*===================================================*/
/*===================================================*/
.contact_section {
    background-color: #111;
    width: 100%;
    color: darkgrey;
    font-family: 'ceraLight', sans-serif;
    font-size: 1.3rem;
    opacity: 0;
    z-index: 1;
}

.contact_container {
    margin: 0rem;
}

.contact_container h2 {
    color: oldlace;
    width: 0%;
    text-align: center;
    padding: .5rem;
    font-size: 17vw;
    letter-spacing: 0.2rem;
    letter-spacing: 0;
    font-family: 'ceraBlack', sans-serif;
    overflow:hidden;
}

.contact_container p,
.contact_container h3, 
.contact_container li,
.contact_form input,
#subject {
    opacity: 0;
}

.info_container {
    margin: 0 auto;
    text-align: center;
}

.info_container h2 {
    font-size: 16vw;
    letter-spacing: 0.2rem;
}

.info_container p {
    width: 85%;
    margin: 1rem auto 4rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

.info_container h3 {
    color: oldlace;
    margin-bottom:.5rem;
    font-family: 'ceraRegular', sans-serif;
}

.info_container li {
    display: block;
    padding-bottom: 3rem;
    line-height: 1.2rem;
}

.form_container {
    width: 85vw;
    max-width: 400px;
    margin: 0 auto;
}

.form_container h2 {
    font-size: 14vw;
    padding-top: 3rem;
    line-height: 13vw;
    letter-spacing: 0.2rem;
}

.contact_form {
    margin: 2rem 0rem;
    overflow: hidden;
}

input[type=text], select, textarea {
    font-family: 'ceraRegular', sans-serif;
    background-color: #1b1b1b;
    display: block;
    width: 80%;
    padding: 12px;
    margin: 0 auto 2rem;
    border: 0;
    border-bottom: 1px solid #444;
    color: darkgoldenrod;
}

#subject {
    line-height: 0.7em;
}
  
input[type=submit] {
    color: darkgrey;
    background-color: #1b1b1b;
    display: block;
    padding: 1.3rem 3.5rem;
    margin: 3rem auto;
    border: 0;
    font-size: 1.3rem;
    font-family: 'ceraRegular', sans-serif;
    box-shadow: 2px 2px 1px 1px #000;
    cursor: pointer;
}

input[type=submit]:hover {
    color: white;
    box-shadow: 1px 1px 1px #000;
}

.social {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.social ul {
    display: inline-flex;
    margin-left: -6px;
}

.social li {
    display: block;
    padding-right: 0.2rem;
    padding-bottom: .3rem;
}

.fb {
    fill: #3b5998;
}
.in {
    fill: white;
}
.gh {
    fill: #F4CBB2;
}

li svg {
    width: 50px;
    height: 50px;
}

.copyright {
    display: block;
    width: fit-content;
    margin: 6px auto;
    font-size: .6rem;
    letter-spacing: 0.1rem;
}

.glow {
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.2;
    top: 50rem;
    left: -10rem;
    border-radius: 50%;
    box-shadow: 0 0 260px 320px #fff /* inner white */
}

.top-nav {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.top-nav ul {
    display: inline-flex;
}

.top-nav li {
    display: block;
    padding-right: 3rem;
    font-size: .85rem;
    font-family: 'ceraRegular';
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px black;
}

.top-nav li:hover, .top-nav .active {
    color: white;
}

/*===================================================*/
/*===================================================*/
            /*RESPONSIVE INITIATED*/

/*// X-Small devices (Galaxy S8 phones, 360px and up)*/
@media (min-width: 360px) {
    .lion {
        background-size: 440px 360px;
        background-position: 6rem 25rem;
    }
    .doWhat p {
        max-width: 35rem;
        margin: 0 auto;
        padding: 0.5rem 2rem;
        line-height: 2rem;
    }
    .br-text1 h1 {
        font-size: 5.5rem;
    }
    .br-text2 h1 {
        width: 26rem;
        font-size: 5rem;
        letter-spacing: -3px;
    }
    .br-text3 h1 {
        width: 23.5rem;
        font-size: 6rem;
    }

    section.mywork .project-box {
        width: 69vw;
        height: 41vw;
        min-width: 21rem;
        min-height: 13rem;
    }
    .project-border {
        width: 69vw;
        height: 41vw;
        min-width: 21rem;
        min-height: 13rem;
    }
    section.mywork .project-text {
        max-width: 300px;
        width: 67vw;
        margin: 1rem auto;
    }
    .project-header {
        font-size: 7vw;
    }
    .less-space {
        letter-spacing: -2px;
    }
    .project-text p {
        font-size: 0.9rem;
        padding-left: 2px;
    }
    .info_container p {
        font-size: 1.2rem;
        max-width: 350px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
    .welcome-shadow {
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.25)));
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        z-index: 10;
    }
    .welcome h1 {
        display: none;
        font-size: 12rem;
        line-height: 10rem;
        max-width: 520px;
    }
    .arrow {
        display: none;
    }
    .letters {
        display: block;
        background: url(./images/1welcome/letters1.png);
        background-repeat: no-repeat;
        background-size: 95% 40%;
        background-position: 25% 41%;
        z-index: 7;
    }
    .lion {
        background-size: 330px 280px;
        background-position: 10rem 29rem;
        z-index: 8;
    }
    .rocks {
        background-size: 105% 40%;
        background-position: 0% 100%;
        z-index: 8;
    }

    .background-1 {
        background-size: 145vw 60vh;
        background-position: 10% 33%;
    }
    .background-3 {
        background-size: 130vw 80vh;
        background-position: 90% 50%;
    }

    .br-text3 h1 {
        width: fit-content;
    }
    .doWhat p {
        max-width: 40rem;
    }
    .typed_container {
        font-size: 8vw;
        letter-spacing: initial;
    }
    section.mywork .project-box {
        width: 69vw;
        height: 41vw;
        max-width: 450px;
        max-height: 260px;
    }
    .project-border {
        width: 69vw;
        height: 41vw;
        max-width: 450px;
        max-height: 260px;
    }
    section.mywork .project-text {
        max-width: 380px;
        width: 55vw;
    }
    .project-header {
        font-size: 6vw;
    }
    .project-text p {
        font-size: 0.9rem;
        padding-left: 1rem;
    }
    .info_container h2 {
        font-size: 7rem;
    }
    .info_container p {
        max-width: 450px;
    }
    .form_container {
        width: 85vw;
        max-width: 500px;
        margin: 3rem auto 5rem;
        box-shadow: 1px 2px 8px 6px black;
    }
    .form_container h2 {
        font-size: 5.5rem;
        padding: 2rem 0;
        line-height: 5rem;
    }
    .contact_form {
        margin: 2rem 4rem;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .letters {
        background-size: 95% 45%;
        background-position: 25% 35%;
    }

    .lion {
        background-size: 380px 330px;
        background-position: 13rem 26rem;
    }
    .background-1 {
        background-size: 140vw 71vh;
        background-position: 0% 60%;
    }
    .background-3 {
        background-size: 101vw 80vh;
        background-position: 5% 50%;
    }
    .background-5 {
        background-size: 110vw 50vh;
        background-position: 110% 50%;
    }
    .br-text2 {
        top: -20px;
        background-color: transparent;
    }
    .br-text3 {
        top: -90px;
        background-color: transparent; 
    }
    .br-text1 h1,
    .br-text2 h1,
    .br-text3 h1 {
        width: fit-content;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .br-text1 h1,
    .br-text2 h1 {
        font-size: 10rem;
        letter-spacing: -4px;
    }
    .br-text3 h1 {
        font-size: 14rem;
        letter-spacing: -4px;
    }
    .doWhat p {
        max-width: 620px;
        padding-top: 0;
        font-size: 1.1rem;
    }
    section.mywork .project-text {
        max-width: 480px;
        width: 50vw;
    }
    .project-header {
        font-size: 6.3vw;
    }
    .project-text p {
        font-size: 1rem;
        padding-left: 1rem;
    }

    .info_container h2 {
        font-size: 9rem;
    }
    .info_container p {
        max-width: 520px;
        font-size: 1.3rem;
    }
    .form_container {
        max-width: 540px;
        margin: 5rem auto;
    }
    .social li {
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    li svg {
        width: 75px;
        height: 75px;
    }
    .copyright {
        font-size: 0.8rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
    .clouds {
        background-size: 50% 15%;
        background-position: 100% 15%;
    }
    .clouds2 {
        background-size: 40% 10%;
        background-position: 45% 10%;
    }
    .landscape {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    .letters {
        background: url('./images/1welcome/letterswshadow1.png');
        background-repeat: no-repeat;
        background-size: 80% 65%;
        background-position: 15% 70%;
        z-index: 4;
    }
    .lion {
        background-size: 38% 50%;
        background-position: 110% 70%;
        z-index: 3;
    }
    .rocks {
        background-size: 100% 40%;
        background-position: 0% 106%;
    }
    .background-shadow {
        background: black;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.25;
    }
    .container-1, .container-3, .container-5 {
        height: 100%;
    }
    .container-3 {
        z-index: 7;
    }
    .container-5 {
        z-index: 9;
    }
    .background-1 {
        background-size: 150vw 105vh;
        background-position: 98% 10%;
    }
    .background-3 {
        background-size: 130% 130%;
        background-position: 101% 22%;
    }
    .background-5 {
        background-size: 120% 100%;
        background-position: 235% -5%;
    }

    .container-1 h1, .container-3 h1, .container-5 h1 {
        text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .container-3 h1 {
        position: relative;
        top: -102%;
        width: fit-content;
        margin: 0 auto;
        font-size: 11rem;
        letter-spacing: -0px;
        white-space: nowrap;
    }
    .container-5 h1 {
        position: relative;
        top: -106%;
        width: fit-content;
        margin: 0 auto;
        padding-left: 10%;
        font-size: 15rem;
        letter-spacing: 0px;
    }

    .top_right {
        display: block;
        top: 0%;
        right: 0%;
        left: inherit;
        width: 50%;
        height: 50%;
        z-index: 6;
    }
    .top_right h1 {
        width: fit-content;
        margin: 0rem auto;
        font-size: 7rem;
        letter-spacing: -2px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .bottom_right {
        background: transparent;
        width: 50%;
        z-index: 10;
    }
    .br-text1 h1 {
        font-size: 7rem;
        letter-spacing: -2px;
    }
    .top_right p, .doWhat .br-text1 p {
        font-size: 0.9rem;
        color: wheat;
        overflow:hidden;
    }
    .br-text2 {
        background-color: #00000080;
        top: 40%;
        left: 50vw;
        width: 40%;
        max-width: 400px;
        height: fit-content;
        padding: 1.5rem 1rem;
    }
    .doWhat .br-text2 p {
        color: #f5e7b3;
        font-size: 0.9rem;
        padding: 0 1rem;
        line-height: 2rem;
        /*background: #00ffd0;*/
        /*-webkit-background-clip: text;*/
        /*-webkit-text-fill-color: transparent;*/
    }
    .br-text3 {
        top: 25%;
        width: 50%;
        height: 100%;
    }
    .doWhat .br-text3 p {
        max-width: 410px;
        padding: 3rem;
        padding-right: 1rem;
        font-size: 1rem;
        line-height: 2.3rem;
    }

    .typed_container {
        font-size: 5vw;
    }
    .source-viewer code {
        color: inherit;
        max-width: 1050px;
        margin-left: -10vw;
    }
    section.mywork .project-row {
        width: fit-content;
        max-width: 870px;
        margin: 0 auto;
        padding-top: 10rem;
    }
    section.mywork .project-row:nth-last-of-type(1) {
        padding-bottom: 15rem;
    }
    section.mywork .project-box {
        display: inline-block;
        width: 400px;
        height: 250px;
        margin: 0.5rem;
    }
    .project-border {
        width: 400px;
        height: 250px;
        max-width: 450px;
        max-height: 260px;
    }
    section.mywork .project-text {
        display: inline-block;
        width: 400px;
        max-width: 480px;
        padding: 0rem 2vw;
        margin: 0;
    }
    .project-header {
        font-size: 4rem;
        letter-spacing: -2px;
    }
    .less-space {
        letter-spacing: -4px;
    }
    .project-text p {
        line-height: 1.75rem;
    }

    .contact_container {
        display: flex;
        width: 100%;
        max-width: 1100px;
        margin: 8rem auto 2rem;
    }
    .info_container {
        width: 50%;
        margin-left: 3rem;
    }
    .form_container {
        width: 50%;
        max-width: 540px;
        margin: 0;
        margin-right: 4rem;
        margin-left: 2rem;
        box-shadow: none;
    }
    .info_container h2 {
        font-size: 4rem;
        padding: 2rem 0rem 1rem;
    }
    .info_container p {
        font-size: 1.1rem;
        max-width: 520px;
    }
    .info_container li:nth-last-of-type(1) {
        padding-bottom: 1rem;
    }
    .form_container h2 {
        max-width: 350px;
        padding: 2rem 0 0rem;
        margin: 0 auto;
        font-size: 4rem;
        line-height: 4rem;
    }
    input[type=submit] {
        margin: 3rem auto 2rem;
    }

    .glow {
        top: -5vh;
        left: 38vw;
    }
    .top-nav {
        display: block;
    }
    .top-nav li {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
    li svg {
        width: 50px;
        height: 50px;
    }
    .top-nav a {
        text-decoration: none;
    }
    .fb, .in, .gh {
        fill: grey;
    }
    li:hover .fb {
        fill: #3b5998;
    }
    li:hover .in {
        fill: white;
    }
    li:hover .gh {
        fill: #F4CBB2;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}





@keyframes text-flicker {
  0% { opacity:  0.5 }
  10% { opacity: 0.4 }
  20% { opacity: 0.5 }
  30% { opacity: 0.4 }
  50% { opacity: 0.6 }
  70% { opacity: 0.4 }
  100% { opacity: 0.7 }
}