body {
  height: 100%;
  width: 100%;
}
* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.app {
    overflow: hidden;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'consolas';*/
}

section {
    position: relative;
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;

    background-color: black;
    color: #DAA520;
}

.hide {
    visibility: hidden;
}

/*===================================================*/
/*===================================================*/

.welcome {
    /* height: 140vh; */
    opacity: 0;
    z-index: 1;
}

.welcome-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    box-shadow: inset 5px 5px 50px 0 #000000;
    z-index: 4;

    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.safari-container {
    display: block;
    min-height: 800px;

    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scene {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.sky {
    background-image: url('./images/1welcome/sky.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    z-index: -2;
}

.safari-container .img-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.safari-container .img-wrapper>img {
    width: 100%;
    height: auto;
}

.clouds .img-wrapper {
    bottom: 50%;
}

.landscape .img-wrapper {
    margin-bottom: -10%
}

.upclose .img-wrapper {
    margin-bottom: -14%;
}

.welcome h1 {
    position: absolute;
    top: 35%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    z-index: -1;
}

/*===================================================*/
/*===================================================*/

.whowhatwhy {

}

.whowhatwhy p {
    padding: 60px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.whowhatwhy h2 {
    font-size: 46px;
    text-align: center;
    padding-top: 20px;
}

section.whowhatwhy .background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

section.whowhatwhy .background .cover-image .container .background {
    /* position: relative; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

section.whowhatwhy .background .cover-image .container {
    background-color: #000000;
    overflow: hidden;
}

section.whowhatwhy .background .cover-image .container-2, 
    section.whowhatwhy .background .cover-image .container-4, 
    section.whowhatwhy .background .cover-image .container-6, 
    section.whowhatwhy .background .cover-image .container-8 {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
}

section.whowhatwhy .background .cover-image .container-1, 
    section.whowhatwhy .background .cover-image .container-3, 
    section.whowhatwhy .background .cover-image .container-5, 
    section.whowhatwhy .background .cover-image .container-7 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
}

section.whowhatwhy .background .cover-image .container .background-1 {
    background-image: url(./images/2whowhatwhy/fullstackInfo.jpg);
    background-color: #fff;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

/* section.whowhatwhy .background .cover-image .container .background-2 {
    background-image: url(images/background_2.jpg);
    background-color: #fff;
    background-size: cover;
    background-position: center center;
} */

section.whowhatwhy .background .cover-image .container .background-3 {
    background-image: url(./images/2whowhatwhy/mobileUI.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
}
/* 
section.whowhatwhy .background .cover-image .container .background-4 {
    background-image: url(images/background_4.jpg);
    background-color: #7E1A1A;
    background-size: cover;
    background-position: center center;
} */

section.whowhatwhy .background .cover-image .container .background-5 {
    background-image: url(images/background_5.jpg);
    background-color: #9DBCF6;
    background-size: cover;
    background-position: center center;
}
/* 
section.whowhatwhy .background .cover-image .container .background-6 {
    background-image: url(images/background_6.jpg);
    background-color: #2A7EE7;
    background-size: cover;
    background-position: center center;
} */

section.whowhatwhy .background .cover-image .container-4, 
    section.whowhatwhy .background .cover-image .container-6, 
    section.whowhatwhy .background .cover-image .container-8 {
    -webkit-transform: translate3d(-100%, 0%, 0);
    transform: translate3d(-100%, 0%, 0);
    opacity: 0;
}
/* 
section.whowhatwhy .background .cover-image .container-4, 
    section.whowhatwhy .background .cover-image .container-6, 
    section.whowhatwhy .background .cover-image .container-8 {
    background-color: #000000;
} */

section.whowhatwhy .background .cover-image .container-3, 
    section.whowhatwhy .background .cover-image .container-5, 
    section.whowhatwhy .background .cover-image .container-7 {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
    opacity: 0;
}

section.whowhatwhy .background .cover-image .container-3, 
    section.whowhatwhy .background .cover-image .container-5, 
    section.whowhatwhy .background .cover-image .container-7 {
    background-color: #000000;
}

section.whowhatwhy .background .cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    /* background-color: purple; */
}

section.whowhatwhy .background .cover-text .container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate3d(0px, -50%, 0px);
    transform: translate3d(0px, -50%, 0px);
    /* opacity: 0; */
}

section.whowhatwhy .background .cover-text .container .title {
    position: absolute;
    display: block;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 42px;
    left: 50%;
    overflow: hidden;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    text-rendering: geometricPrecision;
}






/*===================================================*/
/*===================================================*/

.mywork {
    background: #0d0d0d;
    opacity: 0;
    z-index: 1;
}

.typed_container {
    display: inline-flex;
    padding-top:50px;
    padding-left: 18px;

    font-weight: 300;
    font-size: 66px;
    font-family: 'Montserrat', sans-serif;
}

.typed-cursor {
    line-height: 1em;
}

section.mywork .display-row {
    position: relative;
    margin: 18em 5em;
    width: 100vw;
}

section.mywork .display-row.start {
    margin-top: 7em;
}

section.mywork .display-row.finish {
    margin-bottom: 30em;
}

section.mywork .display-box {
    position: relative;
    width: 27em;
    height: 17em;
    border: 1px solid black;
    overflow:hidden;
}

section.mywork .backdrop {
    /* background-image: linear-gradient(to right top, #1c1800, #403c13, #6b631f, #998d2b, #cbb937); */
    background-image: linear-gradient(to right, #322900, #5d4e09, #8d770f, #c0a214, #f6cf19);
    position: absolute;
    width: 27em;
    height: 20em;
    opacity: 0.9;
    margin: -13em 24em;
    z-index: -1;
}

section.mywork .display-text {   
    background-color: white;
    position: absolute;
    top: 6em;
    left: 25em;
    width: 25em;
    height: 16em;
    box-shadow: 1px 1px 20px black;
}

.display-text h2 {
    color: black;
}

.display-text p {
    padding: 60px;
    font-size: 12px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    font-weight: 300;
}




.display-one {
    background-image: url(images/3mywork/CompCoding.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275); */
}


.display-two {
    background-image: url(images/3mywork/FireWater.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.backdrop_two {
    background-color: transparent;
    position: absolute;
    width: 26.5em;
    height: 17em;
    /* margin: -16em 2em; */
    margin: -16em -2em;
    border: 5px solid goldenrod;
    opacity: 0.9;
    z-index: -1;
}
.text_two {
    background-color: floralwhite !important;
}
.sample_2 {
    position: absolute;
    color: antiquewhite !important;
    font-size: 64px;
    padding-left: 0.3em;
    overflow: hidden;
    text-shadow: 2px 2px 2px silver;
}
.text_two p {
    margin-top:2em;
    padding:60px;
}


.display-three {
    background-image: url(images/3mywork/PrevPortfolio.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none !important;
    box-shadow: 1px 1px 15px black;
}
.backdrop_three {
    /* background-image: linear-gradient(to right, #322900, #5d4e09, #8d770f, #c0a214, #f6cf19); */
    background-color: goldenrod;
    position: absolute;
    width: 6em;
    height: 23em;
    margin: -15em 23em;
    opacity: 0.9;
    z-index: -1;
}
.text_three {
    background-color: rgb(49, 30, 13) !important;
    border: 1px solid;
}
.text_three p {
    margin-top: 4em;
    padding: 70px;
}
.sample_3 {
    position: absolute;
    color: antiquewhite !important;
    font-size: 64px;
    height: 20%;
    padding: 0.3em;
    overflow: hidden;
}


.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    -webkit-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/* .shadow:hover {
    opacity: 0;
} */

.shadow-left {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.shadow-right {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}


/*===================================================*/
/*===================================================*/

.contact {
    display: inline-flex;
    background-color: #1B1B1B;
}

.general_info {
    width: 45vw;
    height: 65vh;
    margin: 7em 2em;
    margin-left: 5em;
    border: 1px dotted;
}

.form_container {
    width: 50vw;
    height: 65vh;
    margin: 7em 2em;
    margin-right: 5em;
    background-color: #1B1B1B;
    box-shadow: -5px 5px 15px black;
}

.form_title {
    margin-top: 0.5em;
    color: darkgrey;
    font-size: 46px;
    letter-spacing: 0.1em;
    text-align: center;
}

.glow {
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.2;
    top: -5vh;
    left: 38vw;
    border-radius: 50%;
    box-shadow: 0 0 260px 320px #fff /* inner white */
}



/*===================================================*/
/*===================================================*/

.source-viewer {
    position: absolute;
    top: -5em;
    left: -8em;
    width: 100%;
    font-family: Futura-pt,Arial;
    z-index: -1;
}

.source-viewer code {
    position: absolute;
    font-family: monospace;
    opacity: .35;
    padding: 20px;
    font-size: .8rem;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box
}

.source-viewer code:after {
    content: attr(content)
}

code[class*=language-] {
    /* color: wheat; */
    color: darkorange;
    direction: ltr;
    font-family: 'consolas';
    text-align: left;
    text-shadow: 0 -.1em .2em #000;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-all;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    opacity: 0.2;
}

code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection {
    text-shadow: none;
    background: rgba(237,237,237,.15)
}
code[class*=language-] ::selection,code[class*=language-]::selection {
    text-shadow: none;
     background:rgba(237,237,237,.15) 
}

@media (min-width: 0) and (max-width:768px) {
    .source-viewer code {
        padding:10px;
        white-space: pre;
        overflow-x: hidden;
        overflow-y: visible;
        font-size: .55rem
    }
}


/*===================================================*/
/*===================================================*/


@media (min-width: 0) and (max-width:480px) {
    html {
        font-size:18px
    }
}

@media (min-width: 481px) and (max-width:768px) {
    html {
        font-size:18px
    }
}

@media (min-width: 769px) and (max-width:1024px) {
    html {
        font-size:16px
    }
}

@media (min-width: 1024px) {
    html {
        font-size:20px
    }
}




/*====================================================*/
/*BORDER*/
.app-border {
    position: fixed;
    z-index: 10010;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    background-color: black;
}
.border-bottom, .border-top {
    left: 0;
    width: 0;
    height: 6px;
}
.border-bottom {
    left: 100%;
    right: 0;
    bottom: 0;
    box-shadow: -8px 0 4px 0 rgba(0,0,0,.2);
}
.border-top {
    top: 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}
.border-left, .border-right {
    width: 6px;
    height: 0;
}
.border-right {
    top: 0;
    right: 0;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,.2);
}
.border-left {
    top: 100%;
}
.border-left {
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,.2);
}
.border-left.fix-border:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 4px;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff
}














