html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

a { color: inherit; }

.app {
    overflow: hidden;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 400; */

    /* font-family: "Jersey 10 Charted", sans-serif; */
}

section {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: #DAA520;
}

.hide {
    visibility: hidden;
}

.overflow_allow {
    overflow: initial !important;
}

/*===================================================*/
/*===================================================*/
.welcome {
    opacity: 0;
    z-index: 1;
}

.welcome-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 5px 5px 50px 0 #000000;
    z-index: 7;

    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.title-container {
    z-index: 10;
    /* background-color: #00000022; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 6vh 2rem;
}

.welcome h1 {
    font-size: 24vw;
    line-height: 8rem;
    text-align: left;
    font-weight: 800;
    padding-bottom: 0rem;

    background: -webkit-linear-gradient(45deg, #00d2fc,#ff0aef 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-shadow: 0px 5px 4px rgb(0 0 0 / 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.welcome h2 {
    color: white;
    padding-left: 1rem;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;

    background: -webkit-linear-gradient(45deg, #ffffff,#00d2fc 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0px 5px 4px rgb(0 0 0 / 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.scene-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scene {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.clouds {
    background-image: url("../images/1welcome/clouds-01.png");
    background-repeat: no-repeat;
    background-size: 105% 15%;
    background-position: 100% -2%;
    z-index: 5;
}

.clouds2 {
    background-image: url("../images/1welcome/clouds-02.png");
    background-repeat: no-repeat;
    background-size: 90% 10%;
    background-position: 45% 14%;
    opacity: 0.7;
    z-index: 3;
}

.sky {
    background-image: url('../images/1welcome/sky.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    z-index: -2;
}

.landscape {
    background: url('../images/1welcome/digitalscape2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
}

.letters {
    display: none;
}

.lion {
    background: url('../images/1welcome/dlion.png');
    background-repeat: no-repeat;
    background-size: 120% 45%;
    background-position: -50% 72%;
    z-index: 8;
    opacity: 0.8;
}

/* .rocks {
    background: url('../images/1welcome/rocks2.png');
    background-repeat: no-repeat;
    background-size: 200% 35%;
    background-position: 0% 106%;
    z-index: 6;
} */

.clouds3 {
    background-image: url(../images/1welcome/clouds-04.png);
    background-repeat: no-repeat;
    background-size: 150% 30%;
    background-position: 70% 101%;
    /* background-color: gold; */
    /* background-blend-mode: difference; */
    opacity: 0.7;
    z-index: 6;
}

.arrow {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
    margin: 1rem auto;
    fill: #1eb8d0;
    opacity: 0.9;
    z-index: 15;
}

.downward {
    transform: rotate(90deg);
}

.bounce {
    animation-name: bounce-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/*===================================================*/
/*===================================================*/
.doWhat {
    opacity: 0;
}

.desktop-only {
    display: none;
}

.pattern {
    position: absolute;
    width: 100%;
    height: 110%;

    background: url("../images/2doWhat/pattern-back1.png");
    background-repeat: repeat-y;
    background-size: 170% 50%;
    background-position: bottom;
    opacity: 0.7;
}

.doWhat .backdrop {
    background: linear-gradient(to bottom right, #02497f, #350035);

    position: absolute;
    width: 100%;
    height: 100%;
}

.background {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    box-shadow: 2px 2px 5px 3px #3b5998;
}

.background-shadow {
    position: absolute;
    top: 0;
    left: 0;
    background: #00000033;
    width: 100%;
    height: 100%;
    border-radius: 75px;
}

.container-1, .container-3, .container-5 {
    z-index: 10;
    position: absolute;

    top: 15%;
    left: 12.5%;
    width: 75%;
    height: 30%;
}

.container-3, .container-5 {
    /* background-color: #000000; */
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
    opacity: 0;
}

.background-1 {
    background-image: url(../images/2doWhat/fullstack2_1.jpg);
    background-repeat: no-repeat;
    background-size: 140% 100%;
}
.background-3 {
    background-image: url(../images/2doWhat/mobile3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background-5 {
    background-image: url(../images/2doWhat/security1.jpg);
    background-repeat: no-repeat;
    background-size: 110% 100%;
}

.top_right {
    display: none;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    z-index: 10;
}

.bottom_right {
    z-index: 5;
    position: absolute;

    top: 30%;
    right: 5%;
    width: 90%;
    height: 100vw;
    min-height: 390px;
    max-height: 420px;
    border-radius: 35px;
    background: linear-gradient(to bottom right, #0b1c43, #8967b547);

}

.services-container {
    padding: 12vh 3rem 0rem 3rem;
}

.doWhat h1 {
    background: -webkit-linear-gradient(45deg, #00d2fc,#ff0aef 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-bottom: 2px;
    font-size: 8vw;
    letter-spacing: -1px;
    text-align: left;

    text-shadow: 0px 5px 4px rgb(0 0 0 / 50%); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.br-text1, .br-text2, .br-text3 {
    opacity: 0;
    /* font-family: "Lato"; */
    font-weight: 600;
}

.doWhat p {
    color: white;
    line-height: 22px;
    font-weight: lighter;
}

/*===================================================*/
/*===================================================*/
.mywork {
    opacity: 0;
    z-index: 1;
    overflow: visible;
}

.no_overflow {
    overflow: hidden;
}

.source-viewer {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.source-viewer code {
    position: absolute;
    font-family: monospace;
    opacity: .15;
    left: 0;
    top: -5rem;
    box-sizing: border-box;
    padding: 0;
    margin-left: -20vw;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: visible;
}

.source-viewer code:after {
    content: attr(content)
}

code[class*=language-] {
    color: darkgrey;
    direction: ltr;
    font-family: 'Ubuntu Mono', monospace;
    text-align: left;
    text-shadow: 0 -.1em .2em #000;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-all;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection {
    text-shadow: none;
    background: rgba(237,237,237,.15)
}
code[class*=language-] ::selection,code[class*=language-]::selection {
    text-shadow: none;
     background:rgba(237,237,237,.15) 
}

.typed_container {
    color: #00d2fc;
    display: inline-flex;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    font-size: 8vw;
    font-family: 'Ubuntu Mono', monospace;
    animation: text-flicker 2s linear 2;
    opacity: 0.9;


    background: -webkit-linear-gradient(45deg, #00d2fc, #c960ff 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typed-cursor {
    line-height: 1em;
    opacity: 0 !important;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.shadow-left {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.shadow-right {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}


section.mywork .project-row {
    padding: 6rem .5rem;
}

section.mywork .project-box {
    position: relative;
    margin: 0 auto;
    transition: all .150s;
    cursor: pointer;
    
    width: 69vw;
    height: 41vw;
    min-width: 21rem;
    min-height: 13rem;
}


.project-box {
    border: 1px dashed #009ebd;
}
.project-box:hover {
    border: 1px dashed transparent;
}

.project-box, .project-text {
    opacity: 0;
}

.project-box:hover .shadow {
    opacity: 0.1;
}

.project-box:hover .project-border, 
.project-box:hover {
    margin: -2px;
}

.project-border {
    background-color: transparent;
    position: absolute;
    margin: -1.5rem 0.5rem;
    border: 2px solid #009ebd;
    opacity: 0.9;
    z-index: -1;
    transition: all .150s;

    width: 69vw;
    height: 41vw;
    min-width: 21rem;
    min-height: 13rem;
}

section.mywork .project-text {
    max-width: 300px;
    width: 67vw;
    margin: 1rem auto;
}

.project-header {
    color: antiquewhite !important;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 7vw;
}

.project-text p {
    /* color: bisque; */
    color: white;
    font-size: 0.9rem;
    padding-left: 2px;
    line-height: 1.5rem;
    font-weight: 300;
}

.less-space {
    letter-spacing: -2px;
}

.demo-cp {
    background-image: url(../images/3mywork/cp-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.demo-pr {
    background-image: url(../images/3mywork/pr-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.demo-dd {
    background-image: url(../images/3mywork/dd-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.demo-hh {
    background-image: url(../images/3mywork/24hh-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}




/*===================================================*/
/*===================================================*/
.contact_section {
    z-index: 1;
    background: linear-gradient(to bottom right, #000000, #0a2259);
    width: 100%;
    font-size: 1.3rem;
    opacity: 0;
    color: #ddd;
}

.contact_container {
    margin: 0rem;
}

.contact_container h2 {
    /* width: 0%; */
    text-align: center;
    padding-top: 5rem;
    font-size: 17vw;
    letter-spacing: 0.2rem;
    overflow:hidden;

    background: -webkit-linear-gradient(45deg, #00d2fca3, #ff0aef6b 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-shadow: 0px 5px 4px rgb(0 0 0 / 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.contact_container p,
.contact_container h3, 
.contact_container li,
.contact_form input,
.contact_form textarea {
    opacity: 0;
}

.info_container {
    width: 85vw;
    max-width: 420px;
    margin: 3rem auto 4rem;
    /* text-align: center; */
}

.info_container p {
    margin: 1rem 0rem 4rem;
    line-height: 2rem;
    
    font-size: 1.2rem;
    text-align: justify;
}

.info_container h3 {
    color: oldlace;
    font-weight: 500;
    margin-bottom: .5rem;
}

.info_container li {
    display: block;
    padding-bottom: 1rem;
    line-height: 1.2rem;
}

.form_container {
    width: 85vw;
    max-width: 420px;
    margin: 3rem auto 4rem;

    background: linear-gradient(to bottom right, #180029, #0e4181);
}

.form_container h2 {
    font-size: 10vw;
    padding-top: 2rem;
    line-height: 9vw;
}

.contact_form {
    margin: 2rem 0rem;
    overflow: hidden;
}

.contact_form input, select, textarea {
    color: white;
    background-color: #1d1c7700;
    display: block;
    width: 70%;
    padding: 12px;
    margin: 0 auto 2rem;
    border: 0;
    border-bottom: 1px solid #444;
}

#subject {
    line-height: 0.7em;
}
  
input[type=submit] {
    background: linear-gradient(to bottom right, #000, #0e4181);
    color: darkgrey;
    display: block;
    padding: 1.3rem 3.5rem;
    margin: 3rem auto;
    border: 0;
    box-shadow: 2px 2px 1px 1px #000;
    cursor: pointer;
}

input[type=submit]:hover {
    color: white;
    box-shadow: 1px 1px 1px #000;
}

.social {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.social ul {
    display: inline-flex;
    margin-left: -6px;
}

.social li {
    display: block;
    padding-right: 0.2rem;
    padding-bottom: .3rem;
}

.fb {
    fill: #3b5998;
}
.in {
    fill: white;
}
.gh {
    fill: #F4CBB2;
}

li svg {
    width: 50px;
    height: 50px;
}

.copyright {
    display: block;
    width: fit-content;
    margin: 6px auto;
    font-size: .6rem;
    letter-spacing: 0.1rem;
}

.glow {
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.2;
    top: 50rem;
    left: -10rem;
    border-radius: 50%;
    box-shadow: 0 0 260px 320px #fff /* inner white */
}

.top-nav {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.top-nav ul {
    display: inline-flex;
}

.top-nav li {
    display: block;
    padding-right: 3rem;
    font-size: .85rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px black;
}

.top-nav li:hover, .top-nav .active {
    color: white;
}









/*===================================================*/
/*===================================================*/
            /*RESPONSIVE INITIATED*/


@media (max-width: 359px) {
    html {
        font-size: 10px;
    }
    .container-1, .container-3, .container-5 {
        top: 12%;
    }
    .services-container {
        padding: 8vh 3rem 0rem 3rem;
    }
    .bottom_right {
        min-height: 330px;
    }
    .doWhat p {
        line-height: 16px;
    }
    
}

/*// X-Small devices (Galaxy S8 phones, 360px and up)*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html {
        font-size: 14px;
    }

    .container-1, .container-3, .container-5 {
        left: 20%;
        max-width: 60vw;
    }
    .bottom_right {
        right: 7.5%;
        max-width: 85vw;
    }

    .typed_container {
        font-size: 8vw;
        letter-spacing: initial;
    }
    section.mywork .project-box {
        width: 69vw;
        height: 41vw;
        max-width: 450px;
        max-height: 260px;
    }
    .project-border {
        width: 69vw;
        height: 41vw;
        max-width: 450px;
        max-height: 260px;
    }
    section.mywork .project-text {
        max-width: 380px;
        width: 55vw;
    }
    .project-header {
        font-size: 6vw;
    }
    .project-text p {
        font-size: 0.9rem;
        padding-left: 1rem;
    }

    .contact_container h2 {
        font-size: 7rem;
    }
    .form_container h2 {
        font-size: 4rem;
    }
}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .title-container {
        padding: 6vh 5rem;
    }
    .welcome h1 {
        font-size: 18vw;
        line-height: 9rem;
    }
    .welcome h2 {
        font-size: 1.7rem;
        letter-spacing: 0px;
    }
    .lion {
        background-size: 110% 50%;
        background-position: -60% 85%;
    }
    .arrow {
        display: none;
    }

    /* .br-text2 {
        top: 48%;
        background-color: transparent;
    }
    .br-text3 {
        top: 45%;
        background-color: transparent; 
    } */
    .container-1, .container-3, .container-5 {
        top: 10%;
        left: 25%;
        width: 50vw;
        height: 40%;
    }
    .bottom_right {
        max-height: 440px;
    }
    .services-container {
        padding: 18vh 4rem 0rem;
    }
    .doWhat h1 {
        font-size: 3.5rem;
    }
    .doWhat p {
        line-height: 24px;
    }


    section.mywork .project-text {
        max-width: 480px;
        width: 50vw;
    }
    .project-header {
        font-size: 6.3vw;
    }
    .project-text p {
        font-size: 1rem;
        padding-left: 1rem;
    }
    

    .info_container, .form_container {
        max-width: 540px;
    }
    .form_container h2 {
        line-height: 7vw;
        font-size: 5rem;
    }
    .contact_form input, select, textarea {
        width: 65%;
    }

    .social li {
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    li svg {
        width: 75px;
        height: 75px;
    }
    .copyright {
        font-size: 0.8rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }

    .title-container {
        bottom: unset;
        right: unset;
        top: unset;
        left: unset;
    }
    .welcome h1 {
        font-size: 15vw;
        line-height: 10rem;
        letter-spacing: 0.2rem;
    } 
    .lion {
        background-size: 70% 75%;
        background-position: 152% 70%;
    }
    .clouds {
        background-size: 70% 20%;
        background-position: 120% -5%;
    }
    .clouds2 {
        background-size: 90% 15%;
        background-position: 45% 15%;
    }


    .pattern {
        background-size: 110% 70%;
        background-position: 210% 75%;
    }
    .container-1, .container-3, .container-5 {
        top: 5%;
        left: 25%;
        height: 50%;
        width: 50%;
        max-width: none;
    }
    .container-5 {
        /* z-index: 9; */
        border-radius: 70px;
        border: 2px dashed #00d2fc59;
    }
    .background-5 {
        background-position: 100% -5%;
    }

    .top_right {
        z-index: 6;
        display: block;
        /* background: #000f31e0; */
        top: 50%;
        left: 20%;
        width: 60%;
        height: 35%;
        padding: 1rem 2rem 0rem;
    }
    .bottom_right {
        width: 80%;
        height: 60%;
        top: 30%;
        right: 10%;
        max-height: 540px;
    }
    .services-container {
        padding: 25% 16% 0rem 22%;
    }



    .typed_container {
        font-size: 5vw;
    }
    .source-viewer code {
        color: inherit;
        max-width: 1050px;
        margin-left: -10vw;
    }
    section.mywork .project-row {
        width: fit-content;
        max-width: 870px;
        margin: 0 auto;
        padding-top: 10rem;
    }
    section.mywork .project-row:nth-last-of-type(1) {
        padding-bottom: 15rem;
    }
    section.mywork .project-box {
        display: inline-block;
        width: 400px;
        height: 250px;
        margin: 0.5rem;
    }
    .project-border {
        width: 400px;
        height: 250px;
        max-width: 450px;
        max-height: 260px;
    }
    section.mywork .project-text {
        display: inline-block;
        width: 400px;
        max-width: 480px;
        padding: 0rem 2vw;
        margin: 0;
    }
    .project-header {
        font-size: 4rem;
        letter-spacing: -2px;
    }
    .less-space {
        letter-spacing: -4px;
    }
    .project-text p {
        line-height: 1.75rem;
    }



    .contact_container {
        display: flex;
        width: 100%;
        max-width: 1000px;
        margin: 6rem auto;
    }
    .info_container {
        width: 52%;
        margin: 0rem;
        padding-left: 2rem;
        text-align: center;
    }
    .form_container {
        width: 40%;
        max-width: 540px;
        margin: 1rem 3rem 0rem 3rem;
    }
    .contact_container h2 {
        padding-top: 0rem;
    }
    .info_container p {
        max-width: 520px;
        margin: 2rem 1rem 4rem;
        display: inline-block;
    }
    .info_container li {
        padding-bottom: 3rem;
    }
    .info_container li:nth-last-of-type(1) {
        padding-bottom: 1rem;
    }
    .form_container h2 {
        max-width: 350px;
        padding: 2rem 0 0rem;
        margin: 0 auto;
        font-size: 4rem;
        line-height: 4rem;
    }
    input[type=submit] {
        margin: 3rem auto 2rem;
    }


    .glow {
        top: -5vh;
        left: 38vw;
    }
    .top-nav {
        display: block;
    }
    .top-nav li {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
    li svg {
        width: 50px;
        height: 50px;
    }
    .top-nav a {
        text-decoration: none;
    }
    .fb, .in, .gh {
        fill: grey;
    }
    li:hover .fb {
        fill: #3b5998;
    }
    li:hover .in {
        fill: white;
    }
    li:hover .gh {
        fill: #F4CBB2;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .welcome h1 {
        font-size: 13vw;
        line-height: 12rem;
    }

    .services-container {
        padding: 15rem 20% 0rem 21%;
    }
    .doWhat p {
        line-height: 32px;
        font-size: 1.15rem; 
    }

    .typed_container {
        font-size: 4.5vw;
    }
    .source-viewer code {
        margin-left: -4vw;
    }
    section.mywork .project-row {
        max-width: initial;
    }
    section.mywork .project-box {
        width: 69vw;
        height: 41vw;
    }
    .project-border {
        width: 69vw;
        height: 41vw;
    }
    
    .contact_container {
        max-width: 1400px;
        margin: 10rem auto 5rem;
        justify-content: space-evenly;
    }
    .info_container { 
        max-width: 700px;
    }
    .form_container {
        margin: 0;
    }
}









@keyframes text-flicker {
  0% { opacity:  0.5 }
  10% { opacity: 0.4 }
  20% { opacity: 0.5 }
  30% { opacity: 0.4 }
  50% { opacity: 0.6 }
  70% { opacity: 0.4 }
  100% { opacity: 0.7 }
}


/* Button  */
.wrapper p button {
    width: 80px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
    font-size: 75%;
    background: #ed8151;
}


/* Menu perspective scene */
.perspective {
	background: #bc7c1d59;
	position: relative;
	width: 100%;
	height: 100%;
    /* background-image: url(./images/1welcome/dlion.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 180% 30%;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: soft-light; */
}

.container {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
}
.container.transform {
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
}
.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
	position: relative;
}

.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.modalview .container {
	/* position: absolute; */
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Effect start */
/* .effect-moveleft {
	background: #00315522;
} */

.effect-moveleft .container {
	transition: transform 0.6s;
	transform-origin: -20% 50%;
}

.effect-moveleft .container::after {
	background: rgba(255,255,255,0.6);
}

.effect-moveleft.animate .container {
	transform: translateX(-10%) rotateY(65deg) translateZ(400px);
}

/* Fallback */
.no-csstransforms3d .effect-moveleft.animate .container {
	left: -75%;
}



/* Navigation */
.effect-moveleft .outer-nav a {
	color: #cd9e28;
	opacity: 0;
	transform: translateX(100px) translateZ(-1000px);
	transition: transform 0.4s, opacity 0.4s;
}

/* .effect-moveleft .outer-nav a:hover {
	color: #333;
} */

.effect-moveleft.animate .outer-nav a {
	opacity: 1;
	transform: translateX(0) translateZ(0);
}

.effect-moveleft.animate .outer-nav a:nth-child(2) {
	transition-delay: 0.04s;
}

.effect-moveleft.animate .outer-nav a:nth-child(3) {
	transition-delay: 0.08s;
}

.effect-moveleft.animate .outer-nav a:nth-child(4) {
	transition-delay: 0.12s;
}

.effect-moveleft.animate .outer-nav a:nth-child(5) {
	transition-delay: 0.16s;
}

.effect-moveleft.animate .outer-nav a:nth-child(6) {
	transition-delay: 0.2s;
}

.effect-moveleft.animate .outer-nav a:nth-child(7) {
	transition-delay: 0.24s;
}







/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
}

.outer-nav.vertical {
	top: 50%;
    /* height: 500px; */
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.outer-nav.left {
	left: 25%;
}

.outer-nav.right {
	right: 20%;
}

.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 600;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-size: 4rem;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
    /* outline: none; */
}

/* .outer-nav a:hover {
	color: #ffdccd;
} */

/* .outer-nav.vertical a {
	display: block;
} */

/* .outer-nav.horizontal a {
	margin: 15px 20px;
} */

/* .outer-nav a::before {
	display: inline-block;
	font-family: 'typicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
} */








@import url(https://fonts.googleapis.com/css?family=Francois+One);

.menu {
    /* border-radius: 3px; */
    transition: all 1s ease;
    width: 20rem;
    height: 5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.menu:hover { 
    box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.2);
}

#menu_inbox {
  background-color: hsla(14, 75%, 55%, .1);
  position: absolute;
  width: 300px;
  height: 80px;
  /* top:150px; */
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:  hsla(14, 75%, 55%, .1);

}
#inbox_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}
#menu_messages {
  /* background-color:  hsla(14, 75%, 55%, .1); */
  position: absolute;
  width: 225px;
  height: 150px;
  /* top:300px; */
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:  hsla(14, 75%, 55%, .1);

}
#messages_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}
#menu_outbox {
  background-color: hsla(14, 75%, 55%, .1);
  position: absolute;
  width: 225px;
  height: 150px;
  /* top:450px; */
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:  hsla(14, 75%, 55%, .1);

}
#outbox_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}
#menu_tasks {
  /* background-color: hsla(14, 75%, 55%, .1); */
  position: absolute;
  width: 225px;
  height: 150px;
  /* top:600px; */
  left: 0px;
}
#tasks_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}

.menu_text {
  /* color: hsla(195, 85%, 95%, 1); */
  /* font-size:2em; */
  /* position: absolute; */
  /* top: 60px;
  left:90px; */
}
.menu_glow_text {
  text-shadow: -3px -3px 3px hsla(14, 75%, 55%, .5);
}
       