html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

a { color: inherit; }

@font-face {
    font-family: ceraBlack;
    src: url(./fonts/CeraPro/CeraPro-Black.ttf);
}
@font-face {
    font-family: ceraLight;
    src: url(./fonts/CeraPro/CeraPro-Light.ttf);
}
@font-face {
    font-family: ceraRegular;
    src: url(./fonts/CeraPro/CeraPro-Regular.ttf);
}

.app {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

section {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: #DAA520;
}

.hide {
    visibility: hidden;
}

.overflow_allow {
    overflow: initial !important;
}

/*===================================================*/
/*===================================================*/
.welcome {
    opacity: 0;
    z-index: 1;
}

.welcome h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2rem auto;
    font-size: 30vw;
    line-height: 25vw;
    font-family: 'ceraBlack', sans-serif;
    color: #bc7c1d;
    z-index: 7;

    text-shadow: 0px 4px 4px rgb(0 0 0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.welcome-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 5px 5px 50px 0 #000000;
    z-index: 7;

    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.scene-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scene {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.clouds {
    background-image: url("../images/1welcome/clouds-01.png");
    background-repeat: no-repeat;
    background-size: 105% 15%;
    background-position: 100% -2%;
    z-index: 5;
}

.clouds2 {
    background-image: url("../images/1welcome/clouds-02.png");
    background-repeat: no-repeat;
    background-size: 90% 10%;
    background-position: 45% 14%;
    opacity: 0.7;
    z-index: 3;
}

.sky {
    background-image: url('../images/1welcome/sky.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    z-index: -2;
}

.landscape {
    background: url('../images/1welcome/digitalscape2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
}

.letters {
    display: none;
}

.lion {
    background: url('../images/1welcome/dlion.png');
    background-repeat: no-repeat;
    background-size: 125% 45%;
    background-position: -50% 80%;
    z-index: 7;
}

/* .rocks {
    background: url('../images/1welcome/rocks2.png');
    background-repeat: no-repeat;
    background-size: 200% 35%;
    background-position: 0% 106%;
    z-index: 6;
} */

.clouds3 {
    background-image: url(../images/1welcome/clouds-04.png);
    background-repeat: no-repeat;
    background-size: 150% 30%;
    background-position: 70% 101%;
    /* background-color: gold; */
    /* background-blend-mode: difference; */
    opacity: 0.7;
    z-index: 6;
}

.arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    margin: 1rem auto;
    fill: #bc7c1d;
    opacity: 0.9;
    z-index: 15;
}

.downward {
    transform: rotate(90deg);
}

.bounce {
    animation-name: bounce-1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-40px); }
    100% { transform: translateY(0); }
}

/*===================================================*/
/*===================================================*/
.doWhat {
    opacity: 0;
}

.desktop-only {
    display: none;
}

.doWhat .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
}

.doWhat h1 {
    font-family: ceraRegular;
    background: -webkit-linear-gradient(45deg, #00d2fc,#ff0aef 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0px 5px 4px rgb(0 0 0 / 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.br-text1 h1 {
    width: fit-content;
    margin: 0rem auto;
    font-size: 19vw;
}

.br-text2 h1 {
    width: 90%;
    margin: 0rem auto;
    font-size: 17.5vw;
    letter-spacing: -2px;
}

.br-text3 h1 {
    width: fit-content;
    margin: 0rem auto;
    font-size: 7vw;
}

.background {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.container-1, .container-3, .container-5 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 50%;
    z-index:5;
}

.container-3, .container-5 {
    background-color: #000000;
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
    opacity: 0;
}

.background-1 {
    background-image: url(../images/2doWhat/fullstack2_1.jpg);
    background-size: 240% 60vh;
    background-position: 16% 44%;
    background-repeat: no-repeat;
}
.background-3 {
    background-image: url(../images/2doWhat/mobile3.png);
    background-size: 170% 70vh;
    background-position: 60% 50%;
    background-repeat: no-repeat;
}
.background-5 {
    background-image: url(../images/2doWhat/security1.jpg);
    background-size: 135vw 50vh;
    background-position: 110% 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.top_right {
    display: none;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    z-index: 10;
}

.bottom_right {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 100%;
    height: 50%;
    z-index: 5;
}

.br-text1, .br-text2, .br-text3 {
    opacity: 0;
}

.doWhat p {
    color: wheat;
    padding: 0.5rem 2rem;
    line-height: 3.2vh;
    text-align: justify;
}

/*===================================================*/
/*===================================================*/
.mywork {
    opacity: 0;
    z-index: 1;
    overflow: visible;
}

.no_overflow {
    overflow: hidden;
}

.source-viewer {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.source-viewer code {
    position: absolute;
    font-family: monospace;
    opacity: .15;
    left: 0;
    top: -5rem;
    box-sizing: border-box;
    padding: 0;
    margin-left: -20vw;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: visible;
}

.source-viewer code:after {
    content: attr(content)
}

code[class*=language-] {
    color: darkgrey;
    direction: ltr;
    font-family: 'Ubuntu Mono', monospace;
    text-align: left;
    text-shadow: 0 -.1em .2em #000;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-all;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection {
    text-shadow: none;
    background: rgba(237,237,237,.15)
}
code[class*=language-] ::selection,code[class*=language-]::selection {
    text-shadow: none;
     background:rgba(237,237,237,.15) 
}

.typed_container {
    display: inline-flex;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    font-size: 8vw;
    font-family: 'Ubuntu Mono', monospace;
    animation: text-flicker 2s linear 2;
    opacity: 0.9;
}

.typed-cursor {
    line-height: 1em;
    opacity: 0 !important;
}

section.mywork .project-row {
    padding: 6rem .5rem;
}

section.mywork .project-box {
    position: relative;
    width: 21rem;
    height: 13rem;
    margin: 0 auto;
    transition: all .5s;
    cursor: pointer;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.shadow-left {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.shadow-right {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.project-box, .project-text {
    opacity: 0;
}

.project-box:hover .shadow {
    opacity: 0.1;
}

.project-box:hover .project-border, 
.project-box:hover {
    margin: -2px;
}

.project-border {
    background-color: transparent;
    position: absolute;
    width: 21rem;
    height: 13rem;
    margin: -1.5rem 0.5rem;
    border: 2px solid goldenrod;
    opacity: 0.9;
    z-index: -1;
    transition: all .5s;
}

section.mywork .project-text {
    max-width: 20rem;
    margin: 1rem auto;
}

.project-header {
    color: antiquewhite !important;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

.project-text p {
    color: bisque;
    padding-left: 2px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.demo-cp {
    background-image: url(../images/3mywork/cp-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px dashed #ffb6006e;
}

.demo-pr {
    background-image: url(../images/3mywork/pr-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px dashed #ffb6006e;
}

.demo-dd {
    background-image: url(../images/3mywork/dd-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px dashed #ffb6006e;
}

.demo-hh {
    background-image: url(../images/3mywork/24hh-demo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px dashed #ffb6006e;
}

/*===================================================*/
/*===================================================*/
.contact_section {
    /* background-color: #111; */
    background-color: #00488f52;
    width: 100%;
    color: darkgrey;
    font-family: 'ceraLight', sans-serif;
    font-size: 1.3rem;
    opacity: 0;
    z-index: 1;
}

.contact_container {
    margin: 0rem;
}

.contact_container h2 {
    color: oldlace;
    width: 0%;
    text-align: center;
    padding: .5rem;
    font-size: 17vw;
    letter-spacing: 0.2rem;
    font-family: 'ceraBlack', sans-serif;
    overflow:hidden;
}

.contact_container p,
.contact_container h3, 
.contact_container li,
.contact_form input,
.contact_form textarea {
    opacity: 0;
}

.info_container {
    margin: 0 auto;
    text-align: center;
}

.info_container h2 {
    font-size: 16vw;
}

.info_container p {
    width: 85%;
    margin: 1rem auto 4rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

.info_container h3 {
    color: oldlace;
    margin-bottom:.5rem;
    font-family: 'ceraRegular', sans-serif;
}

.info_container li {
    display: block;
    padding-bottom: 3rem;
    line-height: 1.2rem;
}

.form_container {
    width: 85vw;
    max-width: 400px;
    margin: 0 auto;
}

.form_container h2 {
    font-size: 14vw;
    padding-top: 3rem;
    line-height: 13vw;
}

.contact_form {
    margin: 2rem 0rem;
    overflow: hidden;
}

.contact_form input, select, textarea {
    font-family: 'ceraRegular', sans-serif;
    background-color: #1b1b1b;
    display: block;
    width: 80%;
    padding: 12px;
    margin: 0 auto 2rem;
    border: 0;
    border-bottom: 1px solid #444;
    color: darkgoldenrod;
}

#subject {
    line-height: 0.7em;
}
  
input[type=submit] {
    color: darkgrey;
    background-color: #1b1b1b;
    display: block;
    padding: 1.3rem 3.5rem;
    margin: 3rem auto;
    border: 0;
    font-size: 1.3rem;
    font-family: 'ceraRegular', sans-serif;
    box-shadow: 2px 2px 1px 1px #000;
    cursor: pointer;
}

input[type=submit]:hover {
    color: white;
    box-shadow: 1px 1px 1px #000;
}

.social {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.social ul {
    display: inline-flex;
    margin-left: -6px;
}

.social li {
    display: block;
    padding-right: 0.2rem;
    padding-bottom: .3rem;
}

.fb {
    fill: #3b5998;
}
.in {
    fill: white;
}
.gh {
    fill: #F4CBB2;
}

li svg {
    width: 50px;
    height: 50px;
}

.copyright {
    display: block;
    width: fit-content;
    margin: 6px auto;
    font-size: .6rem;
    letter-spacing: 0.1rem;
}

.glow {
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.2;
    top: 50rem;
    left: -10rem;
    border-radius: 50%;
    box-shadow: 0 0 260px 320px #fff /* inner white */
}

.top-nav {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.top-nav ul {
    display: inline-flex;
}

.top-nav li {
    display: block;
    padding-right: 3rem;
    font-size: .85rem;
    font-family: 'ceraRegular';
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px black;
}

.top-nav li:hover, .top-nav .active {
    color: white;
}

/*===================================================*/
/*===================================================*/
            /*RESPONSIVE INITIATED*/

/*// X-Small devices (Galaxy S8 phones, 360px and up)*/
@media (min-width: 360px) {
    .lion {
        background-size: 440px 360px;
        background-position: 15vw 40vh;
    }
    .doWhat p {
        margin: 0 auto;
        padding: 0.5rem 2rem;
        line-height: 2rem;
    }
    .br-text2 h1 {
        width: fit-content;
        letter-spacing: -2px;
    }
    section.mywork .project-box {
        width: 69vw;
        height: 41vw;
        min-width: 21rem;
        min-height: 13rem;
    }
    .project-border {
        width: 69vw;
        height: 41vw;
        min-width: 21rem;
        min-height: 13rem;
    }
    section.mywork .project-text {
        max-width: 300px;
        width: 67vw;
        margin: 1rem auto;
    }
    .project-header {
        font-size: 7vw;
    }
    .less-space {
        letter-spacing: -2px;
    }
    .project-text p {
        font-size: 0.9rem;
        padding-left: 2px;
    }
    .info_container p {
        font-size: 1.2rem;
        max-width: 350px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
    .welcome-shadow {
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.25)));
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        z-index: 10;
    }
    .welcome h1 {
        display: none;
        font-size: 12rem;
        line-height: 10rem;
        max-width: 520px;
    }
    .arrow {
        display: none;
    }
    .letters {
        display: block;
        background: url(../images/1welcome/letters1.png);
        background-repeat: no-repeat;
        background-size: 95% 40%;
        background-position: 25% 41%;
        z-index: 7;
    }
    .lion {
        background-size: 330px 280px;
        background-position: 23vw 55vh;
        z-index: 8;
    }
    .rocks {
        background-size: 105% 40%;
        background-position: 0% 100%;
        z-index: 8;
    }
    .clouds3 {
        z-index: 8;
    }

    .background-1 {
        background-size: 145vw 60vh;
        background-position: 10% 33%;
    }
    .background-3 {
        background-size: 130vw 80vh;
        background-position: 90% 50%;
    }
    .br-text1 h1 {
        font-size: 7.5rem;
    }
    .br-text2 h1 {
        font-size: 7.5rem;
        letter-spacing: -2px;
    }
    .br-text3 h1 {
        font-size: 8rem;
    }
    .doWhat p {
        max-width: 40rem;
    }
    .typed_container {
        font-size: 8vw;
        letter-spacing: initial;
    }
    section.mywork .project-box {
        width: 69vw;
        height: 41vw;
        max-width: 450px;
        max-height: 260px;
    }
    .project-border {
        width: 69vw;
        height: 41vw;
        max-width: 450px;
        max-height: 260px;
    }
    section.mywork .project-text {
        max-width: 380px;
        width: 55vw;
    }
    .project-header {
        font-size: 6vw;
    }
    .project-text p {
        font-size: 0.9rem;
        padding-left: 1rem;
    }
    .info_container h2 {
        font-size: 7rem;
    }
    .info_container p {
        max-width: 450px;
    }
    .form_container {
        width: 85vw;
        max-width: 500px;
        margin: 3rem auto 5rem;
        box-shadow: 1px 2px 8px 6px black;
    }
    .form_container h2 {
        font-size: 5.5rem;
        padding: 2rem 0;
        line-height: 5rem;
    }
    .contact_form {
        margin: 2rem 4rem;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .clouds {
        background-size: 127% 30%;
        background-position: 25vw -5%;
    }
    .clouds2 {
        background-size: 80% 20%;
        background-position: 83% 17%;
    }
    .clouds3 {
        background-size: 150% 35%;
    }
    .letters {
        background-size: 95% 45%;
        background-position: 25% 35%;
    }
    .lion {
        background-size: 380px 330px;
    }

    .background-1 {
        background-size: 140vw 71vh;
        background-position: 0% 60%;
    }
    .background-3 {
        background-size: 101vw 80vh;
        background-position: 5% 50%;
    }
    .background-5 {
        background-size: 110vw 50vh;
        background-position: 110% 50%;
    }
    .br-text2 {
        top: 48%;
        background-color: transparent;
    }
    .br-text3 {
        top: 45%;
        background-color: transparent; 
    }
    .br-text1 h1,
    .br-text2 h1 {
        font-size: 8.5rem;
        letter-spacing: -2px;
    }
    .br-text3 h1 {
        font-size: 9rem;
    }
    .doWhat p {
        max-width: 620px;
        padding-top: 0;
        font-size: 1.1rem;
    }
    section.mywork .project-text {
        max-width: 480px;
        width: 50vw;
    }
    .project-header {
        font-size: 6.3vw;
    }
    .project-text p {
        font-size: 1rem;
        padding-left: 1rem;
    }

    .info_container h2 {
        font-size: 9rem;
    }
    .info_container p {
        max-width: 520px;
        font-size: 1.3rem;
    }
    .form_container {
        max-width: 540px;
        margin: 5rem auto;
    }
    .social li {
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    li svg {
        width: 75px;
        height: 75px;
    }
    .copyright {
        font-size: 0.8rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
    .landscape {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    .letters {
        background: url('../images/1welcome/letterswshadow1.png');
        background-repeat: no-repeat;
        background-size: 75% 70%;
        background-position: 25% 90%;
        z-index: 3;
    }
    .lion {
        background-size: 65% 70%;
        background-position: 145% 75%;
        z-index: 4;
    }
    .rocks {
        background-size: 100% 40%;
        background-position: 0% 106%;
    }
    .background-shadow {
        background: black;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.25;
    }
    .container-1, .container-3, .container-5 {
        top: 5%;
        left: 2%;
        height: 90%;
        width: 53%;
    }
    .container-3 {
        z-index: 7;
    }
    .container-5 {
        z-index: 9;
    }
    .background-1 {
        background-size: 150vw 105vh;
        background-position: 98% 10%;
    }
    .background-3 {
        background-size: 112% 120%;
        background-position: 200% 60%;
    }
    .background-5 {
        background-size: 120% 100%;
        background-position: 235% -5%;
    }

    .container-1 h1, .container-3 h1, .container-5 h1 {
        text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .container-3 h1 {
        position: relative;
        top: -102%;
        width: fit-content;
        margin: 0 auto;
        font-size: 11rem;
        letter-spacing: -0px;
        white-space: nowrap;
    }
    .container-5 h1 {
        position: relative;
        top: -106%;
        width: fit-content;
        margin: 0 auto;
        padding-left: 10%;
        font-size: 15rem;
        letter-spacing: 0px;
    }

    .top_right {
        display: block;
        /* background: #0d0a35d6; */
        background: #000f31e0;
        top: 5%;
        right: 5%;
        left: inherit;
        width: 40%;
        height: 45%;
        z-index: 6;
    }
    .top_right h1 {
        width: fit-content;
        margin: 0rem auto;
        font-size: 7rem;
        letter-spacing: -2px;
        text-shadow: 0px 5px 4px rgb(0 0 0 / 50%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .bottom_right {
        background: #00367b87;
        /* background: #0d0a35d6; */
        width: 40%;
        height: 45%;
        z-index: 10;
        top: 50%;
        right: 5%;
    }

    .br-text1 h1 {
        font-size: 7rem;
        letter-spacing: -2px;
    }
    .top_right p, .doWhat .br-text1 p {
        font-size: 0.9rem;
        color: wheat;
        overflow:hidden;
    }
    .br-text2 {
        background-color: #00000080;
        top: 40%;
        left: 50vw;
        width: 40%;
        max-width: 400px;
        /* height: fit-content; */
        padding: 1.5rem 1rem;
    }
    .doWhat .br-text2 p {
        color: #f5e7b3;
        font-size: 0.9rem;
        padding: 0 1rem;
        line-height: 2rem;
        /*background: #00ffd0;*/
        /*-webkit-background-clip: text;*/
        /*-webkit-text-fill-color: transparent;*/
    }
    .br-text3 {
        top: 25%;
        width: 50%;
        height: 100%;
    }
    .doWhat .br-text3 p {
        max-width: 410px;
        padding: 3rem;
        /* padding-right: 1rem; */
        font-size: 1.2rem;
        line-height: 2.3rem;
    }
    .typed_container {
        font-size: 5vw;
    }
    .source-viewer code {
        color: inherit;
        max-width: 1050px;
        margin-left: -10vw;
    }
    section.mywork .project-row {
        width: fit-content;
        max-width: 870px;
        margin: 0 auto;
        padding-top: 10rem;
    }
    section.mywork .project-row:nth-last-of-type(1) {
        padding-bottom: 15rem;
    }
    section.mywork .project-box {
        display: inline-block;
        width: 400px;
        height: 250px;
        margin: 0.5rem;
    }
    .project-border {
        width: 400px;
        height: 250px;
        max-width: 450px;
        max-height: 260px;
    }
    section.mywork .project-text {
        display: inline-block;
        width: 400px;
        max-width: 480px;
        padding: 0rem 2vw;
        margin: 0;
    }
    .project-header {
        font-size: 4rem;
        letter-spacing: -2px;
    }
    .less-space {
        letter-spacing: -4px;
    }
    .project-text p {
        line-height: 1.75rem;
    }
    .contact_container {
        display: flex;
        width: 100%;
        max-width: 1100px;
        margin: 8rem auto 2rem;
    }
    .info_container {
        width: 50%;
        margin-left: 3rem;
    }
    .form_container {
        width: 50%;
        max-width: 540px;
        margin: 0;
        margin-right: 4rem;
        margin-left: 2rem;
        box-shadow: none;
    }
    .info_container h2 {
        font-size: 4rem;
        padding: 2rem 0rem 1rem;
    }
    .info_container p {
        font-size: 1.1rem;
        max-width: 520px;
    }
    .info_container li:nth-last-of-type(1) {
        padding-bottom: 1rem;
    }
    .form_container h2 {
        max-width: 350px;
        padding: 2rem 0 0rem;
        margin: 0 auto;
        font-size: 4rem;
        line-height: 4rem;
    }
    input[type=submit] {
        margin: 3rem auto 2rem;
    }
    .glow {
        top: -5vh;
        left: 38vw;
    }
    .top-nav {
        display: block;
    }
    .top-nav li {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
    li svg {
        width: 50px;
        height: 50px;
    }
    .top-nav a {
        text-decoration: none;
    }
    .fb, .in, .gh {
        fill: grey;
    }
    li:hover .fb {
        fill: #3b5998;
    }
    li:hover .in {
        fill: white;
    }
    li:hover .gh {
        fill: #F4CBB2;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .background-1 {
        background-size: 160% 105%;
        background-position: -4vw -1vw;
    }
    .background-3 {
        background-size: 100% 100%;
        background-position: 110% 50%;
    }
    .background-5 {
        background-size: 110% 90%;
        background-position: 100% 20%;
        /* border: 1px solid; */
    }



    .top_right h1 {
        font-size: 6rem;
        padding: 10px 0;
    }
    .br-text1 h1 {
        font-size: 6rem;
        padding: 10px 0;
    }
    .br-text1 h1, .br-text2 h1 {
        font-size: 6.4rem;
        /* letter-spacing: 0px; */
        text-align: center;
    }


    .top_right p, .doWhat .br-text1 p, .doWhat .br-text2 p {
        font-size: 1.1rem;
        letter-spacing: 1.3px;
        /* text-align: left; */
        padding: 1rem 4rem 1rem;
    }
    .doWhat .br-text3 p {
        letter-spacing: 0.7px;
        max-width: 460px;
    }


    .br-text2 {
        /* background: #11387dc4; */
        background: #601b8dc2;
        top: 5%;
        left: 55%;
        width: 45%;
        height: 84%;
        max-width: 520px;
        padding: 2rem 2rem;
    }
    /* .br-text2 h1 {
        text-shadow: 0px 5px 4px rgb(0 0 0 / 20%);
    } */
   

    .br-text3 {
        top: 5%;
        left: 55%;
        width: 43%;
        height: 90%;
    }


    .typed_container {
        font-size: 4.5vw;
    }
    .source-viewer code {
        margin-left: -4vw;
    }
    section.mywork .project-row {
        max-width: initial;
    }
    section.mywork .project-box {
        width: 69vw;
        height: 41vw;
    }
    .project-border {
        width: 69vw;
        height: 41vw;
    }
    .contact_container {
        max-width: 1400px;
        margin: 10rem auto 5rem;
    }
    .info_container { 
        max-width: 700px;
    }
    .form_container {
        background-color: #002b3787;
        width: 45%;
        max-width: 580px;
        margin-right: 5rem;
    }
    .contact_container h2 {
        letter-spacing: 0.5rem;
    }
}



@media (max-height: 670px) {
    .doWhat p {
        padding-top: 0px;
        line-height: 3vh;
    }
}

@keyframes text-flicker {
  0% { opacity:  0.5 }
  10% { opacity: 0.4 }
  20% { opacity: 0.5 }
  30% { opacity: 0.4 }
  50% { opacity: 0.6 }
  70% { opacity: 0.4 }
  100% { opacity: 0.7 }
}












/* Button  */
.wrapper p button {
    width: 80px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
    font-size: 75%;
    background: #ed8151;
}


/* Menu perspective scene */
.perspective {
	background: #bc7c1d59;
	position: relative;
	width: 100%;
	height: 100%;
    /* background-image: url(./images/1welcome/dlion.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 180% 30%;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: soft-light; */
}

.container {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
}
.container.transform {
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
}
.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
	position: relative;
}

.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.modalview .container {
	/* position: absolute; */
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Effect start */
/* .effect-moveleft {
	background: #00315522;
} */

.effect-moveleft .container {
	transition: transform 0.6s;
	transform-origin: -20% 50%;
}

.effect-moveleft .container::after {
	background: rgba(255,255,255,0.6);
}

.effect-moveleft.animate .container {
	transform: translateX(-10%) rotateY(65deg) translateZ(400px);
}

/* Fallback */
.no-csstransforms3d .effect-moveleft.animate .container {
	left: -75%;
}



/* Navigation */
.effect-moveleft .outer-nav a {
	color: #cd9e28;
	opacity: 0;
	transform: translateX(100px) translateZ(-1000px);
	transition: transform 0.4s, opacity 0.4s;
}

/* .effect-moveleft .outer-nav a:hover {
	color: #333;
} */

.effect-moveleft.animate .outer-nav a {
	opacity: 1;
	transform: translateX(0) translateZ(0);
}

.effect-moveleft.animate .outer-nav a:nth-child(2) {
	transition-delay: 0.04s;
}

.effect-moveleft.animate .outer-nav a:nth-child(3) {
	transition-delay: 0.08s;
}

.effect-moveleft.animate .outer-nav a:nth-child(4) {
	transition-delay: 0.12s;
}

.effect-moveleft.animate .outer-nav a:nth-child(5) {
	transition-delay: 0.16s;
}

.effect-moveleft.animate .outer-nav a:nth-child(6) {
	transition-delay: 0.2s;
}

.effect-moveleft.animate .outer-nav a:nth-child(7) {
	transition-delay: 0.24s;
}







/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
}

.outer-nav.vertical {
	top: 50%;
    /* height: 500px; */
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.outer-nav.left {
	left: 25%;
}

.outer-nav.right {
	right: 20%;
}

.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 600;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-size: 4rem;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
    /* outline: none; */
}

/* .outer-nav a:hover {
	color: #ffdccd;
} */

/* .outer-nav.vertical a {
	display: block;
} */

/* .outer-nav.horizontal a {
	margin: 15px 20px;
} */

/* .outer-nav a::before {
	display: inline-block;
	font-family: 'typicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
} */








@import url(https://fonts.googleapis.com/css?family=Francois+One);

.menu {
    /* border-radius: 3px; */
    transition: all 1s ease;
    width: 20rem;
    height: 5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.menu:hover { 
    box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.2);
}

#menu_inbox {
  background-color: hsla(14, 75%, 55%, .1);
  position: absolute;
  width: 300px;
  height: 80px;
  /* top:150px; */
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:  hsla(14, 75%, 55%, .1);

}
#inbox_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}
#menu_messages {
  /* background-color:  hsla(14, 75%, 55%, .1); */
  position: absolute;
  width: 225px;
  height: 150px;
  /* top:300px; */
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:  hsla(14, 75%, 55%, .1);

}
#messages_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}
#menu_outbox {
  background-color: hsla(14, 75%, 55%, .1);
  position: absolute;
  width: 225px;
  height: 150px;
  /* top:450px; */
  left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:  hsla(14, 75%, 55%, .1);

}
#outbox_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}
#menu_tasks {
  /* background-color: hsla(14, 75%, 55%, .1); */
  position: absolute;
  width: 225px;
  height: 150px;
  /* top:600px; */
  left: 0px;
}
#tasks_glow {
  position: absolute;
  width: 5px;
  height: 150px;
  outline: none;
  /* background-color:  hsla(14, 75%, 55%, .7); */
  border-color:  hsla(14, 75%, 55%, .5);
  box-shadow: 0 0 5px  hsla(14, 75%, 55%, .2);
  display: inline;
}

.menu_text {
  /* color: hsla(195, 85%, 95%, 1); */
  /* font-size:2em; */
  /* position: absolute; */
  /* top: 60px;
  left:90px; */
}
.menu_glow_text {
  text-shadow: -3px -3px 3px hsla(14, 75%, 55%, .5);
}
       